{% extends 'layout.html' %}
{% block content %}
<section class="row bg-black">
    <div class="col-md-4">
        {% load static %}
        <img src="{% static 'portfolio/profile.png' %}" alt="" class="img-fluid">
    </div>
    <div class="col-md-8 my-auto">
        <h1 class="display-5">
            Hola, mi nombre es 
            <strong class="fw-bold fst-italic">Tomás Villarruel</strong>
        </h1>
        <p class="lead">
            Soy Desarrollador Web Full Stack
        </p>
        <p>
            Mi especialización se encuentra en el ámbito del Front-End y Back-End, y cuento con una amplia experiencia en el diseño y desarrollo de componentes y páginas web utilizando las tecnologías más actuales. Entre las herramientas y tecnologías que manejo se incluyen JavaScript, Typescript, Angular, Bootstrap, Django, Django Rest Framework, PHP, SQL, entre otras destacadas.
        </p>
        <p class="py-3">
            Además, estoy abierto a la exploración de proyectos independientes, donde puedo aplicar mis habilidades y conocimientos de desarrollo web de manera autónoma. Siempre estoy en busca de oportunidades para aprender y mejorar, tanto en mi trabajo individual como en colaboración con equipos.
        </p>
        <p>
            Aquí hay algunas de las tecnologías en las que he estado trabajando recientemente:
        </p>
                <div class="row py-2">
                    <ul class="col-5 col-md-3">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                    <ul class="col-5 col-md-3">
                        <li>JavaScript</li>
                        <li>Angular</li>
                        <li>GIT</li>
                    </ul>
                    <ul class="col-5 col-md-3">
                        <li>Python</li>
                        <li>Django</li>
                        <li>Django Rest</li>
                    </ul>
                    <ul class="col-5 col-md-2">
                        <li>PHP</li>
                        <li>SQL</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
        </p>
        <a href="{% static 'portfolio/cv.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">Download CV</a>
</section>

<section class="row my-4 text-center">
    <h3 class="display-4">
        My Projects
    </h3>

{% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" alt="" class="card-img-top">
            <div class="card-body">
                <h2>
                    {{ project.title }}
                </h2>
                <p>
                    {{ project.description }}
                </p>
                {% if project.url %}
                    <a href="{{ project.url }}" class="btn btn-primary rounded-0" target="_blank">
                        See project
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}




