body{
    background-color: #090909;
}
.bg-black{
    background-color: #000
}

.card-project {
    border: 1px solid transparent; 
    transition: border 0.3s ease-in-out;
    cursor: pointer;
}

.card-project:hover{
    border: 1px solid #fff;
    
}
